@import 'variables.scss';


#app {
    width: 1200px;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: ($padding-y / 2) 0;

    img.logo {
        width: 70px;
        height: 70px;
    }

    ul {
        list-style: none;
        display: flex;
        padding: $padding-y 0;
        gap: 20px;

        a {
            text-decoration: none;
            color: $text-primary;
            font-weight: 600;
            margin: ($padding-y / 2);
            font-size: 12px;

            &.active {
                color: $brand-color;
                border-bottom: 5px solid $brand-color;
                padding-bottom: 20px;
            }
        }
    }
}


.main-container {
    main {
        background-color: rgb(34, 34, 34);
        padding: $padding-y * 2;

        div {
            color: white;
            font-size: 30px;
            font-weight: bold;
        }
    }
}


.blue-section-container {
    padding: ($padding-y * 2) 0;
    background-color: $brand-color;
    display: flex;
    gap: 30px;
    font-size: 15px;
    font-weight: bold;

    .buy-section {
        display: flex;
        align-items: center;
        gap: 20px;
        color: white;

        img {
            width: 60px;
        }
    }
}


.footer-container {
    background-image: url(./assets/footer-bg.jpg);

    ul {
        list-style: none;
        text-align: left;
        color: white;

        h3 {
            font-size: 22px;
            letter-spacing: -1px;
        }

        a {
            text-decoration: none;
            color: rgb(203, 203, 203);
        }
    }
}