@import 'variables.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header,
.main,
.blue-section,
.footer,
.social-section {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;

    img.logo {
        width: 70px;
        height: 70px;
    }

    ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: $spacing-y 0;
        gap: 20px;

        a {
            color: $text-primary;
            font-weight: 600;
            margin: ($spacing-y / 2);
            font-size: 12px;

            &.active {
                color: $brand-color;
                border-bottom: 5px solid $brand-color;
                padding-bottom: $spacing-y * 2;
            }
        }
    }
}


.main-container {
    background-color: rgb(34, 34, 34);

    .main {
        padding: ($spacing-y * 2) 0;

        div {
            color: $text-white;
            font-size: 30px;
            font-weight: bold;
        }
    }
}


.blue-section-container {
    padding: ($spacing-y * 2) 0;
    background-color: $brand-color;
    font-size: 15px;
    font-weight: bold;

    .blue-section {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        .buy-section {
            display: flex;
            align-items: center;
            color: $text-white;
            gap: 15px;
    
            img {
                width: 60px;
            }

            &:nth-child(1) {
                img {
                    width: auto;
                    height: 60px;
                }
            }            

            &:nth-child(4) {
                img {
                    width: auto;
                    height: 60px;
                }
            }
        }
    }
}


.footer-container {
    background-image: url(./assets/footer-bg.jpg);
    padding: ($spacing-y * 2) 0;

    .list-container {
        display: flex;

        .list-container-middle,
        .list-container-right {
            margin-left: $spacing-x * 1.5;
        }
    }

    ul {
        list-style: none;
        text-align: left;
        color: $text-white;

        h3 {
            font-size: 22px;
            letter-spacing: -1px;
            margin-top: 0;
            margin-bottom: 10px;
        }

        a {
            color: rgb(203, 203, 203);
        }
    }
}


.social-container {
    background-color: $color-grey;
    padding: ($spacing-y * 1.5) 0;

    .social-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            background-color: transparent;
            border: 2px solid $brand-color;
            padding: $spacing-x / 1.5;

            a {
                color: $text-white;
                font-size: 20px;
                font-weight: bold;
            }
        }

        .social-icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: $spacing-x;

            img {
                width: 40px;
            }

            .follow {
                color: $brand-color;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}